.Btn{
display: flex;
 justify-content: center;
 border: 1px solid #08fdd8;
 width: 200px;

}
.Btn:hover{
 left: -5%;
 position: absolute;
 background: #08fdd8;
 width: 0;
 height: 100%;
 z-index: 3;
 transition: 0.3s ease-out all;
 transform: skewX(-10deg);
}