.mainBlock{
    background-color: #dbdbdb;
    height: 100vh;
    display: flex;
    align-items: center;
}

.text{
    width: 300px;
    background-color: aliceblue;
}
.photo{
    background-color: #dde8f1;
    width: 300px;
}