.project{
    width: 250px;
    background-color: #b9d7e0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.descriptions{

}
.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    /*float: none;*/
    /*overflow: auto;*/
    background-color: #d01b1b;
}
.main{
    background-color: #f8ecec;
}