.projectsBlock{
    background-color: #eceabb;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.projects{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid;
    flex-wrap: wrap;
}
.projectsContainer{
    flex-direction: column;
    justify-content: flex-start;
}
.title{
    border-color: #eeeadb;
}